@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --color-primary: #e11d48; /* Un beau rouge vif élégant */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-montserrat);
}

/* Transition douce pour le mode sombre */
* {
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}